/.idea
/vendor
/node_modules
package-lock.json
composer.phar
phpunit.xml
.phpunit.result.cache
.DS_Store
Thumbs.db
yarn-error.log
pnpm-lock.yaml
composer.lock
webpack.mix.js
.pint.cache
docker-compose.override.yml
.env
.pnpm-store
