.hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--colors-gray-50), var(--tw-bg-opacity));
}

.dark .dark\:hover\:bg-gray-900:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--colors-gray-900), var(--tw-bg-opacity));
}